.container {
  padding: 0 2rem;
}

.top{
  text-align: center;
  margin: 2rem 2rem 0 2rem;
  line-height: 1.15;
}

.title{
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #4791FF;
}

.p{
  font-size: 0.9rem;
}

.article{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
}

.Nav{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 2rem;
  
}
.navName{
  min-width: 5rem;
}
.ImageContainer{
  margin: 1rem 0;
  height: fit-content;
  width: fit-content;
  text-align: center;
}
.homeImage{
  max-width: 70%;
  max-height: 70%;
}
.contactT{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-size: 0.9rem;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactIMG{
  height: 2rem;
  margin: 0 1rem;
}