.container {
  padding: 0 2vw;
}

.top{
  text-align: center;
  margin: 2rem 2rem 0 2rem;
  line-height: 1.15;
}

.title{
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #4791FF;
}

.p{
  font-size: 0.9rem;
}

.article{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 26rem;
  max-width: 60vw;
  margin: 0 auto;
}

.Nav{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 1rem;
  
}
.navName{
  min-width: 5rem;
}
.ImageContainer{
  /* margin: 1rem 0; */
  height: 20rem;
  text-align: center;
}
.homeImage{
  max-width: 100%;
  max-height: 100%;
}
.aboutMe{
  display: flex;
  flex-direction: column;
}
.ProfileContainer{
  flex: 1;
  height:20rem;
  /* width: 20rem; */
  text-align: center;
  align-items: center;
}
.profileImage{
  margin: 1rem;
  border-radius: 100%;
  max-width: 100%;
  max-height: 100%;
}
.detail{
  flex: 1;
  font-size: calc(0.75em+1vw);
  text-align: center;
}
.detail h4{
  font-size: calc(0.75em+1vw);

}
.detail p{
  font-size: calc(0.75em+1vw);
}
.skills{
  display: flex;
  flex-direction: column;
}
.skillsDetail{
  flex: 1;
  text-align: center;
  min-width: 20vw;
  min-height: 20vh;
}
.skillsDetail h4{
  font-size: calc(0.75em +1vw);
}
.contactT{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-size: 0.9rem;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactIMG{
  height: 2rem;
  margin: 0 1rem;
}
.navName:hover,
.navName:focus,
.navName:active {
  color: #0070f3;
}